<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UberDisplay">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MirrorActivity"
            android:exported="false" />

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title" />

        <activity
            android:name=".sonarpen.SonarPenCalibrationActivity"
            android:exported="false"
            android:label="@string/sonarpen_calibration_title" />

        <activity
            android:name=".ui.ActionMenuActivity"
            android:exported="false"
            android:label="@string/action_menu_title" />

    </application>

</manifest>
